<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>cooking
          </h6>
          <p>
            orem ipsum dolor sit amet, consectetur adipiscing elit. Integer id quam nec risus aliquam scelerisque. Duis vulputate magna odio, ac hendrerit tellus cursus eu.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            services
          </h6>
          <p>
            <a href="#!" class="text-reset">Recettes</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Ingrédients</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Avantages club Cooking</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            informations
          </h6>
          <p>
            <a href="#!" class="text-reset">Prix</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Actualités</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Aide</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> 12 rue de la République - ORLÉANS</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +33 238 101 112</p>
          <p><i class="fas fa-print me-3"></i> +33 800 101 112</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://jerome-freelance.com">JO Dev. </a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->